@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes animateCompass {
    0% {
        transform: scale(1.07) rotate(0);
    }
    65% {
        transform: scale(1.035) rotate(400deg);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

@keyframes transform {
    0% {
        transform: translateY(-4rem);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes transform7 {
    0% {
        transform: translateY(-4rem);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: .7;
    }
}

.a {
    animation: transform 1s ease;
    animation-fill-mode: backwards;
}

.a-2 {
    animation-delay: .3s;
}

.a-3 {
    animation-delay: .5s;
}

.a-4 {
    animation-delay: .65s;
}

.a-5 {
    animation-delay: .75s;
}

.a-6 {
    animation-delay: .8s;
}

.a-7 {
    animation-delay: .85s;
}

.a-8 {
    animation-delay: .95s;
}

.a-9 {
    animation: transform7 1s ease;
    animation-fill-mode: backwards;
    animation-delay: 1s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}