.data {
    height: min-content;
    // background-image: linear-gradient(rgba($color-grey-light, .4), rgba($color-grey-light, .4)), url(../../resources/images/weather-open-sky.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    border-radius: 6px;

    display: grid;
    grid-template-rows: repeat(3, min-content) 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4.5rem;
    
    &__pin {
        width: 1.4rem;
        height: 1.4rem;
    }

    &__for {
        display: flex;
        align-items: center;
    }

    &__history {
        width: 1.65rem;
        height: 1.65rem;
        margin-right: .5rem;
    }
    
    &__location {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 1 / -1;
        margin-top: -2rem;

        span:first-child {
            font-size: 1.75rem;
            font-weight: 400;
            color: $color-text-dark;
        }

        span:last-child {
            font-size: 2.7rem;
            font-weight: 400;
            // transform: translateY(-.3rem);
            font-family: 'Abel', sans-serif;
            letter-spacing: -.03rem;
            opacity: .95;
        }
    }

    &__conditions {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        grid-template-rows: repeat(2, max-content);
        justify-content: end;
        align-self: center;
        grid-row: 2 / 3;
        margin-bottom: 1rem;
        opacity: .85;
        position: relative;
        // border-right: 1px solid $color-grey-dark;
        // padding-right: 3rem;

        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            position: absolute;
            right: -2.25rem;
            background-color: $color-grey-dark;
            top: 0;
            width: 1px;

            // theme-1
            // width: 1.6px;
        }
    }
    
    &__state {
        font-size: 3.5rem;
        grid-column: 1 / -1;
        opacity: .9;
    }

    &__substate {
        font-size: 1.7rem;
        grid-row: 2 / -1;
        justify-self: end;
    }

    &__substate--time {
        grid-column: 3 / -1;
        justify-self: start;
    }

    &__sep {
        font-size: 2rem;
        justify-self: center;
        transform: translateY(-1.5px);
        opacity: .65;
        user-select: none;
    }

    &__main {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: repeat(2, max-content);
        justify-self: start;
        align-items: center;
        justify-self: start;
        align-self: center;
        grid-column: 2 / -1;
        margin-bottom: 1rem;
        opacity: .85;
    }
    
    &__icon {
        width: 7rem;
        height: 7rem;
        opacity: .8;
        margin-right: 1rem;
        grid-row: 1 / -1;
    }

    &__temp {
        font-size: 5.5rem;
        font-weight: 300;
    }

    &__real {
        font-size: 1.7rem;
        transform: translateY(-1rem);
        justify-self: center;
    }

    &__details {
        // margin-bottom: 3.5rem;
        grid-column: 1 / -1;
        align-self: center;
        margin-bottom: 3.5rem;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__item {
        display: grid;
        grid-template-rows: repeat(3, max-content);
        justify-items: center;
        grid-gap: .75rem;
        padding: .75rem 1.5rem;
        border-radius: .3rem;
        border: .1rem solid rgba($color-grey-dark, .4);
        transition: all .3s ease;
        background-color: #f1f1f1;

        // theme-1
        // box-shadow: .2rem .2rem .5rem rgba(#000, .04), -.2rem -.2rem .5rem rgba(#000, .04);
        // background-color: rgba(rgb(53, 53, 53), .1);

        &:hover {
            transform: translateY(-.75rem) scale(1.35);
            box-shadow: .2rem .2rem .65rem rgba(#000, .01), -.2rem -.2rem .65rem rgba(#000, .01);
        }
    }

    &__icons {
        width: 3rem;
        height: 3rem;
    }

    &__title {
        font-size: 1.2rem;
        font-weight: 500;
        font-family: 'Raleway', sans-serif;
    }

    &__in {
        font-size: 1.7rem;
    }

    &__time {
        position: absolute;
        bottom: -2.5rem;
        right: 0;
        display: flex;
        font-size: 1.5rem;
        opacity: .7;
    }

    &__forecast {
        grid-column: 1 / -1;
        background-color: #f1f1f1;
        border: .1rem solid rgba($color-grey-dark, .4);
        border-radius: .3rem;
        display: grid;
        align-content: center;
        width: 100%;
        height: 20rem;
        position: relative;
        animation: fade 1.5s ease 1.5s;
        animation-fill-mode: backwards;
    }

    &__hint {
        position: absolute;
        top: .5em;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.5rem;
        opacity: 0.6;
        display: flex;
        align-items: center;
    }

    &__hint-l {
        content: "";
        height: 1.5px;
        width: 8rem;
        display: inline-block;
        background-color: rgba($color-grey-dark, .5);
    }

    &__hint-t {
        padding: 0 .7rem;
        display: inline-block;
        letter-spacing: 2px;
    }

    &__hint-i {
        width: 1.15rem;
        height: 1.15rem;
    }

    &__list-f {
        // display: grid;
        // grid-template-columns: repeat(7, 1fr);
    }

    &__item-f {
        display: grid;
        grid-row: repeat(4, max-content);
        justify-content: center;
        align-content: center;
        justify-items: center;
        grid-row-gap: 1.1rem;
        position: relative;
        user-select: none;
        // width: 12.95rem;

        &:not(:last-child) {
            
            &::after {
                content: "";
                display: inline-block;
                height: 11rem;
                width: 1px;
                background-color: rgba($color-grey-dark, .5);
                position: absolute;
                top: 50%;
                right: -0.115rem;
                transform: translateY(-50%);
            }
        }
    }

    &__compass {
        animation: animateCompass 2s cubic-bezier(1,.05,.49,1.06);
        animation-delay: 1.5s;
    }

    // &__item-f:hover .data__icons-f {
    //     transform: scale(1.4);
    // }

    &__title-f {
        font-size: 1.7rem;
    }

    &__condition-f {

    }

    &__icons-f {
        height: 3.5rem;
        width: 3.5rem;
        transition: transform .3s ease;
    }

    &__title--day {
        font-size: 1.7rem;
    }

    &__in-f {
        font-size: 2rem;
    }

    &__onclick {
        width: 15rem;
        height: 15rem;
        background-color: #f1f1f1;
        border: .1rem solid rgba($color-grey-dark, .4);
        border-radius: 3px;
        position: absolute;
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }
}