$color-primary: #066FFF;
$color-primary-light: #069FFF;
$color-primary-dark: #0652DD;

$color-text: #777;
$color-text-light: #dfe4ea;
$color-text-dark: #7e7e7e;

$color-grey-light: #f0f0f0;
$color-grey-dark: #c2bfbf;